Repository cmjava2023/vm, pull requests merged in 2024-01, with the labels that each got.

#84 Testfiles for Remaining Features
  justfile
  tests/constructor.rs
  tests/data/constructor/Main.class
  tests/data/constructor/Main.java
  tests/data/constructor/Main.javap
  tests/data/exceptions/simple/Main.class
  tests/data/exceptions/simple/Main.java
  tests/data/exceptions/simple/Main.javap
  tests/data/inheritance/simple/A.class
  tests/data/inheritance/simple/A.java
  tests/data/inheritance/simple/A.javap
  tests/data/inheritance/simple/B.class
  tests/data/inheritance/simple/B.java
  tests/data/inheritance/simple/B.javap
  tests/data/inheritance/simple/Main.class
  tests/data/inheritance/simple/Main.java
  tests/data/inheritance/simple/Main.javap
  tests/data/instance_function/Main.class
  tests/data/instance_function/Main.java
  tests/data/instance_function/Main.javap
  tests/data/static_functions/Main.class
  tests/data/static_functions/Main.java
  tests/data/static_functions/Main.javap
  tests/data/two_classes/Auxiliary.class
  tests/data/two_classes/Auxiliary.java
  tests/data/two_classes/Auxiliary.javap
  tests/data/two_classes/Main.class
  tests/data/two_classes/Main.java
  tests/data/two_classes/Main.javap
  tests/exceptions.rs
  tests/exceptions/simple.rs
  tests/inheritance.rs
  tests/inheritance/simple.rs
  tests/instance_function.rs
  tests/static_functions.rs
  tests/two_classes.rs
Labels: kind::feature, priority::high, status::acceptance test

#75 [executor] control flow
  src/classloader.rs
  src/classloader/attribute_parser.rs
  src/executor.rs
  src/executor/op_code.rs
  src/executor/program_counter.rs
  tests/control_flow.rs
  tests/data/control_flow/Main.class
  tests/data/control_flow/Main.java
  tests/data/control_flow/Main.javap
Labels: kind::feature, priority::high, status::acceptance test

#86 test(exceptions/simple): udpate expected error message
  tests/exceptions/simple.rs
Labels: kind::bug, priority::high, status::acceptance test

#87 refactor(opcode): introduce symbolic references
  src/bin/cmjava.rs
  src/class.rs
  src/classloader/opcode_parser.rs
  src/executor/op_code.rs
  tests/static_functions.rs
Labels: kind::bug, priority::high, status::blocked

#88 refactor: typed representation of class names
  src/class.rs
  src/class/builtin_classes/array.rs
  src/class/builtin_classes/file_input_stream.rs
  src/class/builtin_classes/input_stream.rs
  src/class/builtin_classes/print_stream.rs
  src/class/builtin_classes/string.rs
  src/class/builtin_classes/system.rs
  src/class/bytecode_classes.rs
  src/classloader.rs
  src/classloader/class_creator.rs
  src/classloader/opcode_parser.rs
  src/executor/op_code.rs
  src/heap.rs
Labels: kind::bug, priority::normal, status::acceptance test

#93 Parse remaining Opcodes
  src/classloader/opcode_parser.rs
  src/executor/op_code.rs
  tests/constructor.rs
  tests/exceptions/simple.rs
  tests/inheritance/simple.rs
  tests/instance_function.rs
Labels: kind::feature, priority::normal, status::acceptance test

#98 parse fields
  src/classloader/class_creator.rs
Labels: kind::feature, status::acceptance test

#106 fix(executor): remove {byte,short,char,bool} from {Stack,LocalVars}
  src/class/builtin_classes/print_stream.rs
  src/executor/frame_stack.rs
  src/executor/local_variables.rs
  src/executor/op_code.rs
Labels: kind::bug, priority::high, status::acceptance test
